<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Site de Estudos">
    <meta name="keywords" content="HTML,CSS,JavaScript,NodeJs,PHP,desenvolvimento,estudos,analise e desenvolvimento de sistema">
    <meta name="author" content="William Teixeira Fagundes">
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Erro 503!</title>
    <link rel="stylesheet" href="../css/reset200802.css">
    <link rel="stylesheet" href="../framework/material.min.css">
    <link rel="stylesheet" href="../fonts/icon.css">
    <link rel="stylesheet" href="../css/correcaoBugs.css">
    <link rel="stylesheet" href="../css/app.css">
    <script defer src="../framework/material.min.js"></script>
	<style type="text/css">
	.mdl-layout__content{
		overflow: hidden;
	}
     div.mdl-cell:nth-child(1) {
		height: 400px;
	    background: #ccc;
		border: 1px solid black;
		font-size: 150px;

	}
	div.mdl-cell .p1{
		text-align: center;
		margin-top: 200px;
		padding-bottom: none;
	}
	div.mdl-cell .p1 p{
		display: block;
		position: relative;
		top: 80px;
		font-size:  1.8rem;
		font-weight: 400;
	}
	div.mdl-cell .p1 button{
		display: block;
		position: relative;
		top: 80px;
		left: 45%;
	}

	.mdl-mega-footer__right-section{
		margin-top: 3rem;
		margin-right: 5rem;
	}

	</style>
</head>
<body>
<div class="mdl-layout mdl-js-layout ">

	  	<div class="mdl-layout__content"><!-- se torna interessante envolver a main em uma div para ter footer independente da main -->
		  	<main>
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col">
						<div class="p1">
						<span>Erro 503!</span>
						<p>Serviço indisponível!</p>
						<p>Significa que não é possível processar o pedido por uma sobrecarga temporária ou manutenção no servidor.</p>
						<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Retorna</button>
						</div>

					</div>

				</div>
				
			</main>
		<footer class="mdl-mega-footer" >
				<!-- mega-footer posso ter 3 sessões -->
				<div class="mdl-mega-footer--top-section">
				<div class="mdl-mega-footer--drop-down-section">
				<input type="checkbox" class="mdl-mega-footer--heading-checkbox" checked>	
						<h4 class="mdl-mega-footer--heading">A página Estudos</h4>
						<ul class="mdl-mega-footer--link-list">
							<li><a href="#">Contato</a></li>
							<li><a href="#">Artigos</a></li>
							<li><a href="#">Controler</a></li>
							<li><a href="#">Suporte</a></li>
						</ul>
					</div>
					<div class="mdl-mega-footer--drop-down-section">
					<input type="checkbox" class="mdl-mega-footer--heading-checkbox" checked>
						<h4 class="mdl-mega-footer--heading">Recursos</h4>
						<ul class="mdl-mega-footer--link-list">
							<li><a href="#">Wiki</a></li>
							<li><a href="#">Mails</a></li>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Canais no Youtube</a></li>
							<li><a href="#">Links úteis</a></li>
						</ul>
					</div>
					<div class="mdl-mega-footer--drop-down-section">
					<input type="checkbox" class="mdl-mega-footer--heading-checkbox" checked>
						<h4 class="mdl-mega-footer--heading">Notícias</h4>
						<ul class="mdl-mega-footer--link-list">
							<li><a href="#">Últimas Notícias</a></li>
							<li><a href="#">Historico</a></li>
	
						</ul>
					</div>
					<div class="mdl-mega-footer--drop-down-section">
					<input type="checkbox" class="mdl-mega-footer--heading-checkbox" checked>
						<h4 class="mdl-mega-footer--heading">Linguagem</h4>
						<ul class="mdl-mega-footer--link-list">
							<li><a href="#">Este site está disponível em outros idiomas</a></li>
							<li><a href="#">Mudar idioma</a></li>
						</ul>
					</div>
					<div class="mdl-mega-footer__right-section">
					<span> Copyright © a partir 2018 </span> 
					<span><b>O site Estudos</b></span>
					<ul class="mdl-mega-footer--link-list">
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
					</div>
				</div>

		</footer>
	  	</div>
	

</div>
</body>
</html>